# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Build folders
dist/
build/

# Java / Spring Boot (if backend uses it)
target/
*.class

# OS files
Thumbs.db
.DS_Store
